<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Scrabble Score Game</title>
    </head>
    <body>
        <div class="container">
            <h1>Scrabble Score Game</h1>

            <form action="result" method='get'>

                <label for='input'>Let's write a word, JUST A WORD!:</label>
                <input id='input' name='input' type='text'>

                <button type='submit' class='btn-success'>Play!</button>
        </div>
    </body>
</html>
