<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Scrabble Score Game</title>
    </head>
    <body>
        <div class="container">
            <h1>Your score: </h1>
                <p>{{ output }}</p>

            <h1>You wrote:</h1>
                <p>{{ userword }}</p>

    </body>
</html>
